@media screen and(max-width:1080px) {
    .cursor {
        display: none;
    }

    .bgimg h2 {
        font-size: 71px;
    }

    .bgimg img {
        width: 650px;
    }

    .skillsicons {
        display: flex;
        flex-wrap: wrap;

    }

}

@media screen and(max-width:900px) {
    #home {
        overflow: hidden;
    }

    .cursor {
        display: none;

    }

    .bgimg h2 {
        font-size: 71px;
        text-align: center;
        letter-spacing: 15px;
    }

    nav {
        position: relative;
        top: 10px;
    }

    .bgimg {
        height: 70vh;
        width: 100vw;
    }

    .bgimg img {
        width: 660px;
    }

}

@media screen and (max-width:768px) {
    .cursor {
        display: none;

    }

    .bgimg {
        height: 60vh;
        width: 100vw;
    }

    .bgimg:nth-child(2) {
        font-size: 68px;
        display: flex;
        justify-content: center;
        margin: 0;
    }

}

@media screen and (max-width:480px) {

    .cursor {
        display: none;

    }

    .bgimg {
        height: 50vh;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }

    .bgimg h2 {
        font-size: 32px;
        letter-spacing: 5px;
    }

    nav {
        display: none;
    }

    footer h2 {
        font-size: 24px;
    }

    footer h3 {
        max-width: 294px;
        font-size: 6px;
    }
}



@media screen and (max-width:425px) {


    .cursor {
        display: none;

    }

    .bgimg {
        height: 50vh;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }

    .bgimg h2 {
        font-size: 32px;
        letter-spacing: 5px;
    }

    nav {
        display: none;
    }

    footer h2 {
        font-size: 24px;
    }

    footer h3 {
        max-width: 294px;
        font-size: 6px;
    }


}