@media screen and(max-width:1080px) {
    .cursor {
        display: none;
    }

    .bgimg h2 {
        font-size: 71px;
    }



    .skillsicons {
        display: flex;
        flex-wrap: wrap;

    }

}

@media screen and(max-width:900px) {
    #home {
        overflow: hidden;
    }

    .cursor {
        display: none;

    }

    .bgimg h2 {
        font-size: 71px;
        text-align: center;
        letter-spacing: 15px;
    }

    nav {
        position: relative;
        top: 10px;
    }




}

@media screen and (max-width:768px) {
    .cursor {
        display: none;

    }



    .bgimg:nth-child(2) {
        font-size: 68px;
        display: flex;
        justify-content: center;
        margin: 0;
    }

}

@media screen and (max-width:480px) {

    .cursor {
        display: none;

    }

    .bgimg {
        height: 100dvh;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }

    .bgimg h2 {
        font-size: 44px;
        letter-spacing: 5px;
    }

    nav {
        display: none;
    }

    footer h2 {
        font-size: 24px;
    }

    footer h3 {
        max-width: 414px;
        font-size: 19px;
        letter-spacing: 0px;
    }

    footer h4 {
        padding-top: 4px;
    }

    .floatingicon1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        right: 12px;
    }

    .floatingicon1 img {
        display: block;

    }

    .floatingicon {
        right: 12px;
    }

    .cardaboutme {
        max-width: 270px;
        padding: 20px;
    }

    .btndwnld {
        gap: 0px;
        width: 170px;
        height: 40px;

    }

    .btndwnld p {
        font-size: 16px;
    }

    .icncv {
        display: flex;
        flex-direction: row;

    }


    @media screen and (max-width:425px) {


        .cursor {
            display: none;

        }

        .bgimg {
            height: 100dvh;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }

        .bgimg h2 {
            font-size: 35px;
            letter-spacing: 5px;
        }

        nav {
            display: none;
        }

        footer h2 {
            font-size: 24px;
        }

        footer h3 {
            max-width: 414px;
            font-size: 19px;
            ;
            letter-spacing: 0px;
        }

        .cardaboutme {
            max-width: 270px;
            padding: 20px;
        }
    }

    .icncv {
        display: flex;
        flex-direction: row;

    }
    .btndwnld{
        width: 130px;
        height: 35px;
    }

    .btndwnld p {
        font-size: 10px;
    }

    .floatingicon {
        right: 54px;
    }

    .floatingicon1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        right: 54px;
    }
    #aboutsection{
        width: 220px;
    }
    #about{
        padding: 10px;
    }

}