* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cursor {
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    border-radius: 50%;
    background: transparent;
    pointer-events: none;
    z-index: 111;
    border: 1px solid #fff;
    transition: all 0.2s ease-out;
    animation: moveCursor1 .5s infinite alternate;
}

.expand {
    background: transparent;
    animation: moveCursor2 .5s forwards;
    border: 1px solid rgb(255, 255, 255);
}

@keyframes moveCursor1 {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(.8);
    }
}

@keyframes moveCursor2 {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(2.5);
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}


p {
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: 0px;
    font-family: "inter", sans-serif;
    font-weight: 300;
    color: hsl(0, 0%, 70%);
    line-height: 1.5;

}

body {
    font-family: 'inter', sans-serif;
}

.bgimg {
    background-image: url(images/gradient-wallpapers-5Q9Gf0WSyLk-unsplash.jpg );
    /* background-color: red; */
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    position: relative;
    background-size: cover;
    z-index: 10;
}


.bgimg h2 {
    color: rgba(255, 255, 255, 0.692);
    /* font-size: clamp(16px, 2.5vw, 32px); */
    font-size: 120px;
    letter-spacing: 25px;
    font-family: "Lexend Giga", sans-serif;
}

.bgimg img {
    position: absolute;
    bottom: 0;
    width: 35%;
}

nav {
    position: fixed;
    top: 30px;
    width: 500px;
    display: flex;
    height: auto;
    z-index: 999;

}

ul a {
    text-decoration: none;

}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.247);
    border-radius: 25px;
    backdrop-filter: blur(8px);
    border-top: .5px solid rgba(255, 255, 255, 0.4);
    border-left: .5px solid rgba(255, 255, 255, 0.4);
    border-right: .5px solid rgba(255, 255, 255, 0.4);
    border-bottom: .5px solid rgba(255, 255, 255, 0.4);


}


ul li {
    padding: 10px 40px;
    font-family: "Lexend Giga", sans-serif;
    font-size: 20px;
    color: rgb(201, 201, 201);
    z-index: 999;
    transition: .5s;
}
ul li:hover {
   color: #fff;
    border-radius: 25px;
    transition: 0.3s;
}

#about {
    background-color: #7749A6;
    padding: 70px;
    z-index: 10;
}

.cardaboutme {
    color: white;
    font-family: "inter", sans-serif;
    background-color: #000000ba;
    padding: 40px;
    border-radius: 25px;
}

.cardaboutme h3 {
    letter-spacing: 0px;
    word-spacing: 2px;
    font-size: 32px;
    font-weight: 350;
}
#home{
    z-index: 999;
}
.cardaboutme p{
    max-width: 800px;
}
/* .cardaboutme p {
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
} */

.dwnldcv {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.btndwnld {
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    width: 200px;
    height: 50px;
    justify-content: center;
    padding: 15px;
    border: white 2px solid;
    border-radius: 25px;
}

.btndwnld p:hover {
    color: white;
    transition: 0.3s;
}

.btndwnld img {
    width: 30px;
    height: 25px;
    text-align: center;
}
.btndwnld:hover {
    background-color: rgba(68, 2, 155, 0.226);
    transition: .5s;
    border-radius: 25px;
    color: white;
}
.iconcircle img {
    width: 25px;
    height: 25px;
    transition: .7s;
}
.icncv :hover{
    background-color: rgb(68, 2, 155);
    border-radius: 50%;
}
.iconcircle a:hover{
   transform: rotate(360deg);
   transition: .5s;
}

.btndwnld p {
    font-family: "inter", sans-serif;
    font-size: 18px;
    letter-spacing: 0px;
    font-weight: 400;
    text-align: center;
    margin: 0;
}

.icncv {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.iconcircle {
    display: grid;
    place-items: center;
    height: 45px;
    width: 45px;
    background-color: #000000ba;
    border-radius: 50%;
    justify-content: center;
    border: 2px solid white;
    object-fit: cover;
}

.iconcircle i {
    color: white;
    font-size: 28px;
    font-weight: 200;
}

.aboutsection {
    display: flex;
    flex-direction: column;
    gap: 10px;

}


.cardsskills {
    background-color: #000000ba;
    height: 100%;
    width: 100%;
    border-radius: 25px;
    padding: 20px;
    color: white;
    font-family: "inter", sans-serif;
    font-size: 20px;
    letter-spacing: 0px;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    gap: 15px;
    transition: .8s;
}

.cardsskills:hover {
    transform: translateY(-5px);
    transition: 0.4s;
    border: .5px solid white;

}

.cardsskills img {
    width: 80px;
    height: 80px;
    transition: 1s;
}
.cardsskills img:hover {
    transform: rotate(360deg);
    transition: 0.8s;
}   

.carddetails span {
    font-family: poppins, sans-serif;
    letter-spacing: -1px;

}

.skillssection {
    display: flex;
    justify-content: center;

}

#projects {
    background-color: #211231;
    color: white;
    z-index: 99;
}

.skillshead h2 {

    font-size: 40px;
    padding-bottom: 40px;
    padding-top: 20px;
    letter-spacing: -2px;
    font-family: 'Times New Roman', Times, serif;
}


.education h2 {
    font-size: 40px;
    padding-bottom: 20px;
    padding-top: 40px;
    letter-spacing: -2px;
    font-family: 'Times New Roman', Times, serif;
}

.education ul {
    margin-top: 20px;
    list-style-type: disc;
    margin: 0;

}

.education ul li {
    font-family: "inter", sans-serif;
    font-size: 18px;
    line-height: 1.6;
    padding: 0;

}

#works {
    background-color: #211231;
    padding-bottom: 30px;
    z-index: 99;


}

.wrks h2 {
    font-size: 40px;
    padding-top: 80px;
    letter-spacing: -2px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.cardwrk {
    width: 100%;
    height: 100%;
    padding: 10px;
}

.cardwrk img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
    object-position: center;
    transition: .7s;

}

.cardwrk img:hover {
    transform: scale(1.05);
    transition: 0.4s;
}

.btnviewmore {
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 15px;
    text-decoration: none;
    color: rgb(41, 5, 70);
    font-family: "inter", sans-serif;
    font-weight: 600;
    display: flex;
    justify-self: center;
    transition: .5s;
    margin-top: 8px;
}

.btnviewmore:hover {
    transform: scale(1.1);
    transform: translateY(-2px);
    transition: 0.3s;
}
footer{
    background-color: #150B20;
}
footer h2{
    color: white;
    font-size: 38px;
    text-align: center;
    padding-top: 40px;
    font-family: "Lexend Giga", sans-serif;
    font-weight: 400;
}
footer h3{
    color: rgba(255, 255, 255, 0.692);
    font-size: 20px;
    text-align: center;
    padding: 20px 80px;
    font-family: 'Times New Roman', Times, serif;
    font-size:32px;
    letter-spacing: 1px;
    max-width: 800px;
    margin: auto;

}
footer h4{
    color: white;
    font-size: 28px;
    text-align: center;
    padding-top: 20px;
    font-family:"inter", sans-serif;
    font-weight: 400;
}
.number{
    display: block;
    text-align: center;
    color: rgba(255, 255, 255, 0.692);
    font-size: 20px;
    text-decoration: none;
    font-family: "inter", sans-serif;
}
.mail{
    display: block;
    text-align: center;
    color: rgba(255, 255, 255, 0.692);
    font-size: 20px;
    text-decoration: none;
    font-family: "inter", sans-serif;
}
.cc{
    color: rgba(255, 255, 255, 0.492);
    font-size: 16px;
    text-align: center;
    font-family: "inter", sans-serif;
    margin: 0;
}
.floatingicon{
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 60px;
    height: 60px;
    background-color: #29A71A;
    border-radius: 50%;
    display: grid;
    place-items: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    z-index: 0;
}
.floatingicon img{
    width: 35px;
    height: 35px;
    transition: 1.4s;
    
}
.floatingicon:hover{
   
    transform: translateY(-2px);
    transition: 0.4s;
    transform: scale(1.5);
}